body.page-template-template-contact{
	section#heading{
		background-size: cover;
		padding: 5.5% 0;
		h1{
			text-align: center;
			color: $med-gold;
			font: 700 6.4rem 'Rajdhani';
			line-height: 57px;
			letter-spacing: 0.06em;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
	}

	section.intro{
		background: url(img/about-bg.png);

		.inner{
			width: 100%;
			max-width: 740px;
			margin: 0 auto;
			padding: 50px 0 60px;
			@include clear;

			display: flex;

			.col1, .col2{
				//float: left;
				width: 40%;
				//padding: 0 4%;

				h2{
					//color: #fff;
					font: 700 2.4rem 'Rajdhani';
					margin: 0 0 6px;
					padding: 0;
					text-transform: uppercase;
					text-align: center;
				}

				.box{
					color: #fff;
					border: solid 1px #fff;
					padding: 16px 0;
					margin-top: 20px;
					text-align: center;
					font: 700 1.8rem 'Rajdhani';
					img{
						display: inline-block;
						margin-top: -3px;
						margin-right: 5px;
					}
					a{
						color: #fff;
						display: inline-block;
					}
				}
			}

			.col1{
				.box{
					color: $text-color;
					border: solid 1px $text-color;
					a{
						color: $text-color;
					}
				}
			}

			.col2{
				h2{
					color: $gold;
				}
				.box{
					color: $gold;
					border: solid 1px $gold;
					a{
						color: $gold;
					}
				}
			}

			.divider{
				float: left;
				width: 5px;
				margin: 45px 12% 0;
				background: var(--linear-line, linear-gradient(116deg, #CA992C 0%, rgba(202, 153, 44, 0.00) 100%));
			}
		}
	}

	section.form{
		padding: 0;
		background-color: $soft-grey;
		.inner{
			padding: 0;
			width: 100%;
			max-width: 100%;
			margin: 0;
			display: flex;

			.col1, .col2{
				//float: left;
				//width: 50%;
				//padding: 0 4%;

				.col-inner{
					padding: 70px 4%;

					.divider{
						height: 5px;
						width: 30%;
						margin: 20px 0;
						background: var(--linear-line, linear-gradient(90deg, #CA992C 0%, rgba(202, 153, 44, 0.00) 100%));
					}
				}
				
				h2{
					//color: #fff;
					font: 700 3.2rem 'Rajdhani';
					margin: 0 0 6px;
					padding: 0;
					text-transform: uppercase;
				}

				.box{
					color: #fff;
					border: solid 1px #fff;
					padding: 16px 0;
					margin-top: 20px;
					text-align: center;
					font: 700 1.8rem 'Rajdhani';
					img{
						display: inline-block;
						margin-top: -3px;
						margin-right: 5px;
					}
					a{
						color: #fff;
						display: inline-block;
					}
				}
			}

			.col2{
				width: 37%;

				.col-inner{
					background-color: #000;
					color: #fff;
					padding: 0;

					h2{
						color: #fff;
					}

					iframe{
						display: block;
					}

					.divider{
						height: 5px;
						width: 30%;
						margin: 20px 0;
						background: var(--linear-line, linear-gradient(90deg, #CA992C 0%, rgba(202, 153, 44, 0.00) 100%));
					}

					.location-content{
						padding: 70px 10%;
					}

					p{
						color: #fff;
						font: 500 1.8rem 'inter';
						padding: 0 0 20px 0;
						margin: 0;
					}

					a{
						color: #fff;
						display: inline-block;
						font: 600 1.6rem 'rajdhani';
						margin: 0;
						padding: 7px 15px;
						border: solid 1px;
						text-decoration: none;
						transition: all .2s;

						&:hover{
							background-color: $gold;
						}
					}
				}
			}

			.col1{
				width: 63%;
				background-color: $gold;

				.col-inner{
					max-width: 570px;
					margin: 0 auto;

					.divider{
						height: 5px;
						width: 30%;
						margin: 20px 0;
						background: var(--linear-line, linear-gradient(90deg, #fff 0%, rgba(202, 153, 44, 0.00) 100%));
					}

					p{
						color: #fff;
						font: 500 1.8rem 'inter';
					}
				}

				h2{
					font: 700 3.2rem 'Rajdhani';
					padding: 0;
					margin: 0;
					padding-bottom: 10px;
				}
	
				.gform_heading{
					display: none;
				}
	
				.gform_wrapper{
					.gform_body ul{
						width: 100%;
						li.gfield{
							margin: 0 0 20px 0;
							padding: 0;
	
							&.col2{
								margin-left: 4% !important;
							}
	
							.ginput_container{
								margin: 0;
							}
						}
	
						li.gfield.gfield_error{
							padding-top: 0;
						}
	
						li.col1.gfield.gfield_error.gfield_contains_required{
							padding-right: 4%;
						}
	
						.field_description_below .gfield_description{
							padding: 4px 0;
						}
					}
	
					.col1, .col2{
						float: left;
						width: 48%;
						clear: none;
					}
					.col2{
						//margin-left: 4% !important;
					}
	
				
					label{
						display: none;
					}
	
					input, textarea, select{
						font: 400 1.6rem 'inter' !important;
						padding: 9px 15px !important;
						margin-bottom: 0 !important;
					}
	
					input:not([type=submit]), textarea, select{
						width: 100%;

						&::-ms-input-placeholder{
							color: #000;
						}
						
						&::placeholder{
							color: #000;
						}
					}
	
					textarea{
						height: 130px;
					}
	
					input[type=submit]{
						background-color: #000;
						color: #fff;
						font: 600 1.6rem 'Rajdhani';
						padding: 8px 16px;
						border: none;
						transition: all .2s;
						cursor: pointer; 
						text-transform: uppercase;
	
						&:hover{
							background-color: $dark-gold;
						}
					}
	
					.gform_footer{
						padding-top: 0;
						margin-top: 0;
					}

					.gform_body ul li.recaptcha{
						margin: 0;
					}
				}
			}
		}
	}

	section.img{
		padding: 0;
		img{
			width: 100%;
		}
	}
}

@media only screen and (max-width: 900px){
	body.page-template-template-contact{
		section.form{
			padding: 0;
			background-color: $soft-grey;
			.inner{
				padding: 0;
				width: 100%;
				max-width: 100%;
				margin: 0;
				display: initial;
	
				.col1, .col2{
					width: 100%;
	
					.col-inner{
						padding: 70px 4%;
					}
				}

				.col2{
					width: 100%;

					.col-inner{
						padding: 0;
					}
	
					.location-content{
						padding: 70px 4%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 700px){
	body.page-template-template-contact{
		section#heading{
			h1{
				font: 700 3.5rem 'Rajdhani';
			}
		}

		section.intro{
			background-color: $gold;
	
			.inner{
				// width: 100%;
				// max-width: 512px;
				// margin: 0 auto;
				padding: 30px 0 40px;
				// @include clear;

				.col1, .col2{
					float: none;
					width: 100%;
					padding: 0;
	
					h2{
						font: 700 2rem 'Rajdhani';
					}
				}

				.col1{
					padding: 0 0 20px 0;
				}
	
				.box{
					// color: #fff;
					// border: solid 1px #fff;
					padding: 14px 0;
					// text-align: center;
					font: 700 1.6rem 'Rajdhani';
					// img{
					// 	display: inline-block;
					// 	margin-top: -3px;
					// 	margin-right: 5px;
					// }
					// a{
					// 	color: #fff;
					// 	display: inline-block;
					// }
				}
			}
		}
	

		
		section.form{
			background-color: $soft-grey;
			.inner{
				padding: 10% 0 10%;
				width: 100%;
				max-width: 570px;
				margin: 0 auto;
	
				// h2{
				// 	font: 700 2.4rem 'Rajdhani';
				// 	padding: 0;
				// 	margin: 0;
				// 	padding-bottom: 10px;
				// }
	
				.gform_wrapper{
					.gform_body ul{
						width: 100%;
						li.gfield{
							margin: 0 0 20px 0;
							padding: 0;
	
							&.col2{
								margin-left: 0 !important;
							}
						}
					}

					.col1, .col2{
						float: none;
						width: 100%;
					}
					.col2{
						margin-left: 0;
					}
				}
	
				// input, textarea, select{
				// 	font: 400 1.6rem 'inter';
				// 	padding: 9px 15px;
				// 	margin-bottom: 20px;
				// }
	
				// textarea, select{
				// 	width: 100%;
				// }
	
				// textarea{
				// 	height: 130px;
				// }
	
				// input[type=submit]{
				// 	background-color: $gold;
				// 	color: #fff;
				// 	font: 600 1.6rem 'Rajdhani';
				// 	padding: 8px 16px;
				// 	border: none;
				// 	transition: all .2s;
				// 	cursor: pointer; 
				// 	text-transform: uppercase;
	
				// 	&:hover{
				// 		background-color: $dark-gold;
				// 	}
				// }
			}
		}
	}
}