/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #231F20;
$body-bg: #fff;
$selection-bg: #04A4CC;

$innova-black: #231F20;
$soft-grey: #efefef;
$gold: #CA992C;
$med-gold: #EAAB1E;
$dark-gold: #AC7D13;
$safety: #EB8E02;
$medium-dark: #565656;
$soft-gray: #efefef;



/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;